<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856612400371-td0g7ot4as16tr8qr03fq8njm7dja154.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856612400371-td0g7ot4as16tr8qr03fq8njm7dja154</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856612400371-am2n1bcjvl0kb9s64pqe6nbmhm5fvjhq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrHWAT4YyZchFzXnIMpUjznqdM_Qg65Do</string>
	<key>GCM_SENDER_ID</key>
	<string>856612400371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rimapps.justlog</string>
	<key>PROJECT_ID</key>
	<string>gymlog-56f16</string>
	<key>STORAGE_BUCKET</key>
	<string>gymlog-56f16.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:856612400371:ios:2dfa798016002ca1a3db86</string>
</dict>
</plist>
